/*通用*/
img.pc{
    width: 100%;
    height: 500px;
}

img.mobile{
    width: 100%;
    height: 180px;
}

@media screen and (min-width: 768px){
    img.pc{
		display: inline;
	}
	img.mobile{
		display: none;
	}
}

@media screen and (max-width: 767px){
    img.pc{
		display: none;
	}
	img.mobile{
		display: inline;
	}
}

body h4, h1{                /*大標題：金色*/
    color:#cc9900;
}

#login input:hover{
    border-color: #cc9900;
}

#login input{
    background-color:black;
    color:silver;
    border-color: silver;
}

#login .btn{
    border-color: #cc9900;
    color:#cc9900;
}

#login label{
    color:silver;
}

.card-body>p{           /*卡片body字：白色*/
    color: #e6e6e6;
}

.card-body>h5{              /*卡片的title字：置中*/
    text-align: center;
}

.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

#card_delete{
    float: right; 
    color:red; 
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: silver;
}
footer a:hover{
    color: silver;
}

/*內容頁*/
.card-title>a{              /*卡片的title字：銀色*/
    text-decoration: none;
    color:silver;
}


/*首頁*/
#index_card .card-title>a{  /*卡片的title字：金色*/
    text-decoration: none;
    color:#cc9900;
}

